:root {
  --main-color: #9fef00;
  --text-color: rgb(255, 255, 255);
  --backround-color: #141d2b;
}
.container {
  border-radius: 20px;
  position: relative;
  bottom: 0;
  padding-top:10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: var(--backround-color);
}
.footer-container {
  grid-template-columns: repeat(4,1fr);
  display: grid;
  align-items:center;
  justify-content: center;
  transition:all 0.5s ease ;
}
.footer-copyright{
  font-size: 12px;
}
.footer-content{
  display: flex;
  justify-content: center;
}
.subscribe-email {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);

}
.subscribe-button{
  cursor: pointer;
  border: none;
  color: var(--backround-color);
  font-size: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif; 
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(177,255,182,1) 0% ,rgba(0,255,88,1)100%);

}
@media screen and (max-width:900px){
  .footer-container{
  grid-template-columns: repeat(3,1fr);

  }
}
@media screen and (max-width:600px){
  .footer-container{
  grid-template-columns: repeat(2,1fr);

  }
}
@media screen and (max-width:500px){
  .footer-container{
  grid-template-columns: repeat(1,1fr);

  }
}
